/nbproject/private/
/StudiSocial-ejb/nbproject/private/
/StudiSocial-war/nbproject/private/
/StudiSocial-ejb/build/
/StudiSocial-war/build/
/StudiSocial-ejb/dist/
/StudiSocial-war/dist/
/build/
/dist/