/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input-group { font-size: 14px !important; }

.profile-picture {
    max-width: 200px;
    max-height: 200px;
    margin: 0px 15px 15px 0px;
    float: left;
}