/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.profile-picture {
    max-width: 200px;
    max-height: 200px;
    margin: 0px 15px 15px 0px;
    float: left;
}